<div class="form-group">
  <label>Value Size - {{ vis.params.valueSize }}pt</label>
  <input type="range" ng-model="vis.params.valueSize" class="form-control" min="12" max="120" />
  <label>Label Size - {{ vis.params.labelSize }}pt</label>
  <input type="range" ng-model="vis.params.labelSize" class="form-control" min="12" max="120" />
  <label>Background Color</label>
  <input type="text" ng-model="vis.params.bgColor" class="form-control" /><br />
  <label>Font Color</label>
  <input type="text" ng-model="vis.params.fontColor" class="form-control" />
</div>